<h2>Series Management</h2>

<h3><%= @manga.name %></h3>


<%= form_for @manga do |f| %>
	<div><%= f.label 'Name:' %><br /><%= f.text_field :name %></div>
	<div><%= f.label 'Synopsis:' %><br /><%= f.text_area :synopsis, :id => 'synopsis_text_area' %></div>
  <div>
    <%= f.label :imageurl, "Image Url" %><br />
    <%= f.text_field :imageurl %>
  </div>
	<%= f.submit :class => "btn" %>
<% end %>

<%= link_to 'Delete', @manga, method: :delete, data: { confirm: 'Are you sure?' } %>



<table class="table">

	<thead><tr><td><strong>Chapters:</strong></td><td>Manage:</td></tr></thead>

	<% @manga.chapters.each do |chapter| %>
	
	<tr>
		<td><%= chapter.title %></td>
		<td><%= link_to 'Edit', edit_manga_chapter_path(@manga, chapter), :class => 'btn' %>
				<%= link_to 'Delete', manga_chapter_path(@manga, chapter), method: :delete, :class => 'btn btn-danger'%></a>
		</td>
	</tr>

	<% end %>

	<tr><td colspan='2'><%= link_to 'Add Chapter', new_manga_chapter_path(@manga), :class => 'btn' %></td></tr>

</table>
