<h1>Manga</h1>

<%=raw Pagetext.find(3).text %>

<% @mangas.each do |manga| %> 
  <div class="manga">
	  <a class="mangalink" href="<%= manga_path(manga) %>">
      <div class="mangaoverlay">
        <h2><%= manga.name %></h2>
		    <div class="mangasynopsis"><%= manga.synopsis %></div>
      </div>
      <div class="mangaimage"><%= image_tag manga.imageurl %></div>
    </a>
    
    <% if admin_signed_in? %>
		  <div class="editlink"><%= link_to "Edit", edit_manga_path(manga.slug) %></div>
		<% end %>
  </div>
<% end %>