<% if @manga.name == "Double Blackness" %>
<style>
.banner {
  background-image: url(/assets/doubleblacknessbanner.png) !important;
}
</style>
<% end %>

<div class="manga">
	  <div class="mangalink">
      <div class="mangaoverlay">
        <h2><%= @manga.name %></h2>
		    <div class="mangasynopsis"><%= @manga.synopsis %></div>
      </div>
      <div class="mangaimage"><%= image_tag @manga.imageurl %></div>
    </div>
    
    <% if admin_signed_in? %>
		  <div class="editlink"><%= link_to "Edit", edit_manga_path(@manga.slug) %></div>
		<% end %>
</div>

<h2>Read Chapters</h2>
<% @manga.chapters.each do |chapter| %>
  <%= link_to chapter.title, manga_chapter_path(@manga, chapter) %>
  <br>
<% end %>

<a class="goback" href="/mangas">Back to All Manga</a>