<h1>Videos</h1>

<p>Only the admin can see this page. Logged out viewers are not able to access it.</p>

<%= link_to "New Video", new_video_path %>

<table>
  <tr>
    <th>Video ID</th>
    <th></th>
    <th></th>
  </tr>

<% @videos.each do |video| %>
  <tr>
    <td><%= video.url %></td>
    <td><%= link_to 'Edit', edit_video_path(video) %></td>
    <td><%= link_to 'Delete', video, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<%= link_to "Go to Media page", media_path %>
