<h1>Links</h1>

<%=raw Pagetext.find(6).text %>

<% @links.each do |link| %>
  <div class="link">
  <p><%= link_to link.url, link.url %></p>
  <p><%= link.description %></p>
  <% if admin_signed_in? %>
  <p><%= link_to 'Edit', edit_link_path(link) %>&nbsp;<%= link_to 'Delete', link, method: :delete, data: { confirm: 'Are you sure?' } %>
  </p>
  <% end %>
  </div>
<% end %>
