<h1>Listing pagetexts</h1>

<table>
  <tr>
    <th>Text</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pagetexts.each do |pagetext| %>
  <tr>
    <td><%= pagetext.text %></td>
    <td><%= link_to 'Show', pagetext %></td>
    <td><%= link_to 'Edit', edit_pagetext_path(pagetext) %></td>
    <td><%= link_to 'Destroy', pagetext, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Pagetext', new_pagetext_path %>
