<%= link_to "Back to editing #{@manga.name}", edit_manga_path(@manga), :class => 'backtoeditmanga' %>

<h1>Editing <%= @chapter.title %></h1>

<div>
<%= form_for [@manga, @chapter] do |f| %>
	
	<%= f.label 'Chapter Title:' %>
	<%= f.text_field :title %>
	<%= f.submit 'Update', :class => 'btn' %>

<% end %>
</div>

<div>
  <p>Images for manga need to have specific file names to make this manga viewing system work. Your file names must be of the format 
  <strong>mangatitle_ch01_p01.jpg</strong> or <strong>mangatitle_ch01_p01.png</strong></p>
  <p>The files must have the proper page number at the end of the filename in order to make viewing the chapter happen in the correct order. The next file would be <strong>mangatitle_ch01_p02.jpg</strong>.</p>
  <p>It doesn't matter what order you upload the image files in on this page, or what order they appear in here, as long as they all have the correct filenames.</p>
</div>

<div class='edit-chapter-pages'>
<%= render 'chapter_pages', :chapter => @chapter %>
</div>
<div class="clearfloat"></div>

<div class='chapter_input'>
	<br />
	<%= render 'chapters/form', :chapter_id => @chapter.id %>
</div>

<br>
<br>
<%= link_to 'View This Chapter', manga_chapter_path(@manga, @chapter) %>

