<% if @manga.name == "Double Blackness" %>
<style>
.banner {
  background-image: url(/assets/doubleblacknessbanner.png) !important;
}
</style>
<% end %>

<div class="navbar" id="chapter-nav-bar">
		<h1 class="brand" id="current_chapter_title"><%= @chapter.title %></h1>

		<ul class="nav pull-right chapter-nav">
			<li id="chapters">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#"></a>
							<ul id="chapters-dropdown" class="dropdown-menu">
								<% @manga.chapters.each do |chapter| %>
									<li id="chapter-dropdown">
										<%= link_to chapter.title, manga_chapter_path(@manga,chapter), 
												:id => dom_id(chapter), :data => {:name => chapter.title} %>
									</li>
								<% end %> 
							</ul>
			</li>
      <li id="pages">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#"></a>
							<ul class="pages-dropdown dropdown-menu">
								<% @chapter.sorted_pages.each do |page| %>
									<li class="page-dropdown">
										<a href="#" id="<%= page.page_number %>"><%= page.page_number %></a>
									</li>
								<% end %> 
							</ul>
			</li>
			<li id="chapter-previous-page"><a href="#" title="back" ></a></li>
			<li id="chapter-next-page"><a href="#" title="next" ></a></li>
		</ul>
</div>
<div class="clearfloat"></div>

<div id='chapter'>
	<% @chapter.sorted_pages.each do |page| %>
		<div id='<%= page.page_number %>' class='chapter-page' data-active="false">
			<%= image_tag page.image_url if page.image? %>
		</div>
	<% end %>
</div>
<div id="last_chapter">
	You've reached the last chapter of this series. Thanks for reading!
</div>



