<!DOCTYPE html>
<html>
<head>
  <title>Lucky Hit Crew</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="wrapper">
        <header>
            <div class="banner">
                <a href="/" title="home" class="home"></a>
                <div class="menu">
                    <ul>
                        <li><a href="/mangas" class="mangamenu"></a></li>
                        <li><a href="/services" class="servicemenu"></a></li>
                        <li><a href="/media" class="mediamenu"></a></li>
                        <li><a href="/links" class="linksmenu"></a></li>
                        <li><a href="/contact" class="contactmenu"></a></li>
                    </ul>
                    <div class="clearfloat"></div>
                </div>
                <div class="socialmedia">
                    <ul>
                        <li class="facebook" title="Facebook"><a href="http://www.facebook.com/luckyhitcrew" target="_blank"></a></li>
                        <li class="twitter" title="Twitter"><a href="http://www.twitter.com/luckyhitcrew" target="_blank"></a></li>
                        <li class="youtube" title="Youtube"><a href="http://www.youtube.com/user/NigzBlackman" target="_blank"></a></li>
                        <li class="deviantart" title="Deviant Art"><a href="http://nigz.deviantart.com/" target="_blank"></a></li>
                        <li class="gmail" title="Email"><a href="mailto:nigz@luckyhitcrew.com" target="_blank"></a></li>
                    </ul>
                    <div class="clearfloat"></div>
                </div>
            </div>
        </header>
        
        <div class="content">
            <div class="leftcol">
                <div class="aboutme">
                   <a href="/about"><img src="/assets/aboutme.png"></a>
                </div>
                
                <div class="store">
                   <a href="/store"><img src="/assets/store.png"></a>
                </div>
                <div class="blog">
                   <a href="/blogs"><img src="/assets/blog.png"></a>
                </div>
                
                <div class="twitter widget">
                    <a class="twitter-timeline" href="https://twitter.com/luckyhitcrew" data-widget-id="420963686757314561">Tweets by @luckyhitcrew</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                </div>
        
            </div>
            
            <div class="rightcol">
                <% if admin_signed_in? %>
                  <ul class="adminmenu">
                    <li><%= link_to 'New Blog', new_blog_path %></li>
                    <li><%= link_to 'New Update', new_update_path %></li>
                    <li><%= link_to 'New Manga', new_manga_path %></li>
                    <li><%= link_to 'New Link', new_link_path %></li>
                    <li><%= link_to 'New Item', new_item_path %></li>
                    <li><%= link_to('Logout', destroy_admin_session_path, :method => :delete) %></li>
                  </ul>
                  <div class="clearfloat"></div>
                <% end %>
                <%= yield %>
            </div>
            <div class="clearfloat"></div>
        </div>
        
        <footer>
            &copy; <%= Time.now.year %> Lucky Hit Crew. Site by <a href="http://zenpr.ca">ZenPR</a>.
        </footer>
    </div>
</body>
</html>
